.tabs {
    margin: 5px;
    text-align: center;
    outline: 1px solid;
    box-sizing: border-box;
}

.title {
    text-align: center;
}

.form,
*::after,
*::after {
    text-align: center;
    box-sizing: border-box;
    outline: 1px;
    margin: 10px 0;
}

.formDescription {
    width: 17.9%;
    resize: both;
    padding: 15px;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(212, 180, 208, 0.979);
    height: 150px;
    white-space: pre-wrap;
}

.formTitle {
    width: 17.9%;
    padding: 10px;
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    border-radius: 4px;
    border-radius: 4px;
    margin: 10px;
}

.postDescription{
    white-space: pre-line;
}